{% extends "base.html" %}
{% block title %}Tableau de bord{% endblock %}
{% block content %}
<!-- fake data-->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load('current', { 'packages': ['corechart'] });
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['Journée', 'Nombre de transactions'],
      ['02-05', 560],
      ['02-06', 671],
      ['02-07', 850],
      ['02-08', 1400]
    ]);

    var options = {
      title: 'Volume des transactions dans les 4 derniers jours',
      curveType: 'function',
      legend: { position: 'bottom' }
    };

    var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

    chart.draw(data, options);
  }




</script>

<!-- fake data-->

<main>
    <div class="row">
        {% if current_user.type == 'admin' %}
        <div class="col s2">
            <div style="padding: 25px;" align="center" class="card">
                <div class="row">
                    <div class="left card-title">
                        <b>Ajouter des usagers</b>
                    </div>
                </div>

                <div class="row">
                    <a href={{ url_for('register.register')}}>
                    <div style="padding: 30px;" class="grey lighten-3 waves-effect">
                        <i class="indigo-text text-lighten-1 large material-icons">group_add</i>
                        <span class="indigo-text text-lighten-1">
                                <h5>Nouveaux usagers</h5>
                            </span>
                    </div>
                    </a>
                </div>
            </div>
        </div>
        {% endif %}

        <div class="col s10">
            <div style="padding: 20px" align="center" class="card">
                <div class="row">
                    <div class="left card-title">
                        <b>Transactions récentes</b>
                    </div>
                </div>
                <div id="curve_chart" style="width: 550px; height: 300px"></div>
            </div>
        </div>


        <div class="col s6">
            <div style="padding: 35px;" align="center" class="card">
                <div class="row">
                    <div class="left card-title">
                        <b>Transactions</b>
                    </div>
                </div>
                <div class="row">
                    <table>
                        <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Marchand</th>
                            <th>Montant</th>
                            <th>Carte de crédit</th>
                            <th>Date</th>
                            <th>Statut</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr>
                            <td>Lamotte</td>
                            <td>Pierrette</td>
                            <td>Tim Hortons</td>
                            <td>1.87$</td>
                            <td>5446</td>
                            <td>2019-02-07</td>
                            <td>En attente</td>
                        </tr>
                        <tr>
                            <td>Escobar</td>
                            <td>Pablo</td>
                            <td>Tim Hortons</td>
                            <td>1.87$</td>
                            <td>5436</td>
                            <td>2019-02-07</td>
                            <td>Pré-autorisé</td>
                        </tr>
                        <tr>
                            <td>César</td>
                            <td>Jules</td>
                            <td>Tim Hortons</td>
                            <td>1.87$</td>
                            <td>5426</td>
                            <td>2019-02-07</td>
                            <td>Completer</td>
                        </tr>
                        <tr>
                            <td>DiePie</td>
                            <td>Pew</td>
                            <td>Tim Hortons</td>
                            <td>22.87$</td>
                            <td>5465</td>
                            <td>2019-02-07</td>
                            <td>Refuser</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</main>
<!-- debut marchand -->
<!-- fake data-->
<script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart', 'bar'] });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Journée', 'Nombre de transactions'],
            ['02-05', 700],
            ['02-06', 650],
            ['02-07', 3200],
            ['02-08', 5400]
        ]);

        var options = {
            title: 'Volume des transactions dans les 4 derniers jours',
            curveType: 'function',
            legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);

        var data1 = new google.visualization.DataTable();
        data1.addColumn('string', 'Nom d\'événement');
        data1.addColumn('number', 'Nombre de transactions');
        data1.addRows([
            ['Lady gaga', 8500],
            ['Les canadiens', 3800],
            ['Elvis Gratton Live', 12001],
            ['Drake', 20031],
            ['Migos', 2000]
        ]);

        // Set chart options
        var options1 = {
            'title': 'Répartition des ventes par événement, dernier mois',
            'width': 600,
            'height': 500
        };

        // Instantiate and draw our chart, passing in some options.
        var chart1 = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart1.draw(data1, options1);

        var data2 = google.visualization.arrayToDataTable([
            ['Jour', ' Nombre de transactions'],
            ['Lundi', 500],
            ['Mardi', 401],
            ['Mercredi', 750],
            ['Jeudi', 2540],
            ['Vendredi', 6520],
            ['Samedi', 4000],
            ['Dimanche', 201]
        ]);

        var options2 = {
            chart: {
                title: 'Transactions moyennes par jour de la semaine',
                subtitle: 'Jour de la semaine et moyenne des transactions',
            }
        };

        var chart2 = new google.charts.Bar(document.getElementById('columnchart_material'));

        chart2.draw(data2, google.charts.Bar.convertOptions(options2));
    }



</script>

<!-- fake data-->

<main>
    <div class="row">
        <div class="col s6">
            <div style="padding: 20px" align="center" class="card">
                <div class="row">
                    <div class="left card-title">
                        <b>Transactions des derniers jours</b>
                    </div>
                </div>
                <div id="curve_chart" style="width: 550px; height: 300px"></div>
            </div>
        </div>


        <div class="col s6">
            <div style="padding: 0px;" align="center" class="card">
                <div class="row">
                </div>
                <div id="chart_div"></div>
            </div>
        </div>

        <div class="col s12">
            <div style="padding: 15px;" align="center" class="card">
                <div class="row">
                </div>
                <div id="columnchart_material" style="width: 1000px; height: 550px;"></div>
            </div>
        </div>

    </div>
</main>
<!-- fin merchant -->
{% endblock %}
