{% extends "layout.html" %}
{% block title %}Connexion{% endblock %}
{% block content %}
<main>
    <nav>
        <div class="indigo nav-wrapper">
            <a href="#!" class="brand-logo"><i class="material-icons">monetization_on</i>Passerelle</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="#">Nous contacer</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <form class="card">
            <div class="row">
                <div class="input-field col s10">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="email" type="email" class="validate">
                    <label for="email">Courriel</label>
                </div>

                <div class="input-field col s10">
                    <i class="material-icons prefix">lock_circle</i>
                    <input id="password" type="password" class="validate">
                    <label for="password">Mot de passe</label>
                </div>
                <div class="input-field col s4">
                    <a class="waves-effect waves-light btn" href="index.html">Se connecter admin</a>
                    <a class="waves-effect waves-light btn" href="merchandDashboard.html">Se connecter marchand</a>
                </div>
            </div>
        </form>
    </div>
</main>
{% endblock %}