{% extends "base.html" %}
{% block title %}Modification profil{% endblock %}
{% block content %}
<!-- change pw from admin -->

<main>
    <h4 align="center">Modification du mot de passe</h4>
    <div class="container">
        <form action="" method="post">
            {{ form.hidden_tag() }}
            {% if user.type == 'merchant' %}
            <p>
                {{ form.username.label }}<br>
                {{ form.username(size=32, value=user.name) }}<br>
                {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            {% endif %}
            <p>
                {{ form.password.label }}<br>
                {{ form.password(size=32) }}<br>
                {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.password2.label }}<br>
                {{ form.password2(size=32) }}<br>
                {% for error in form.password2.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
    </div>
</main>
<!-- fin change info marchand -->
{% endblock %}
