<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Tableau de bord</title>


    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css'>
    <link rel='stylesheet'
        href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/font/material-design-icons/Material-Design-Icons.woff'>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- icons :) -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="css/style.css">
    <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js'></script>



    <script src="js/index.js"></script>
    <style>
        body {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }

        main {
            flex: 1 0 auto;
        }
    </style>

</head>

<!-- fake data-->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Journée', 'Transactions'],
            ['02-05', 560],
            ['02-06', 671],
            ['02-07', 850],
            ['02-08', 1400]
        ]);

        var options = {
            title: 'Volume des transactions dans les 4 derniers jours',
            curveType: 'function',
            legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        var data1 = new google.visualization.DataTable();
        data1.addColumn('string', 'Nom du marchand');
        data1.addColumn('number', 'Nombre de transactions');
        data1.addRows([
            ['Tim Horton', 8500],
            ['Evenko', 3800],
            ['Stubhub', 12001],
            ['Kijiji', 2031],
            ['FB MarketPlace', 751]
        ]);

        // Set chart options
        var options1 = {
            'title': 'Répartition des transactions par marchand dernier mois',
            'width': 500,
            'height': 400
        };

        // Instantiate and draw our chart, passing in some options.
        var chart1 = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart1.draw(data1, options1);

        chart.draw(data, options);
    }
</script>

<!-- fake data-->

<body>
    <ul id="slide-out" class="side-nav fixed z-depth-2">
        <li class="center no-padding">
            <div class="indigo darken-2 white-text" style="height: 125px;">
                <div class="row">
                    <i class="material-icons prefix">account_circle</i>
                    <p style="margin-top: -13%;">
                        Administrateur
                    </p>
                </div>
            </div>
        </li>

        <li id="dash_dashboard"><a class="waves-effect" href="index.html"><b>Tableau de bord</b></a></li>

        <ul class="collapsible" data-collapsible="accordion">
            <li id="dash_users">
                <div id="dash_users_header" class="collapsible-header waves-effect"><b>Utilisateurs</b></div>
                <div id="dash_users_body" class="collapsible-body">
                    <ul>
                        <li id="users_seller">
                            <a class="waves-effect" style="text-decoration: none;"
                                href="merchantManagement.html">Marchand</a>
                        </li>

                        <li id="users_customer">
                            <a class="waves-effect" style="text-decoration: none;"
                                href="adminCreation.html">Administrateur</a>
                        </li>
                    </ul>
                </div>
            </li>

            <li id="dash_products">
                <a class="waves-effect" style="text-decoration: none;"
                    href="transactionsAdmin.html"><b>Transactions</b></a>
            </li>
        </ul>
    </ul>

    <header>
        <ul class="dropdown-content" id="user_dropdown">
            <li><a class="indigo-text" href="changepw.html">Profile</a></li>
            <li><a class="indigo-text" href="login.html">Logout</a></li>
        </ul>

        <nav class="indigo" role="navigation">
            <div class="nav-wrapper">
                <ul class="right hide-on-med-and-down">
                    <li>
                        <a class='right dropdown-button' href='' data-activates='user_dropdown'><i
                                class=' material-icons'>account_circle</i></a>
                    </li>
                </ul>

                <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
            </div>
        </nav>

    </header>

    <main>
        <div class="row">
            <div class="col s6">
                <div style="padding: 20px" align="center" class="card">
                    <div class="row">
                        <div class="left card-title">
                            <b>Transactions récentes</b>
                        </div>
                    </div>
                    <div id="curve_chart" style="width: 750px; height: 350px"></div>
                </div>
            </div>
            <div class="col s6">
                <div style="padding: 20px" align="center" class="card">
                    <div class="row">
                        <div class="left card-title">
                            <b>Transactions par marchand</b>
                        </div>
                    </div>
                    <div id="chart_div"></div>
                </div>
            </div>

            </row>
            <row>
                <div class="col s12">
                    <div style="padding: 35px;" align="center" class="card">
                        <div class="row">
                            <div class="left card-title">
                                <b>Transactions</b>
                            </div>
                        </div>
                        <ul class="pagination">
                            <li class="disabled"><a href="transactionsAdmin.html"><i
                                        class="material-icons">chevron_left</i></a></li>
                            <li class="active"><a href="transactionsAdmin.html">1</a></li>
                            <li class="waves-effect"><a href="transactionsAdmin.html">2</a></li>
                            <li class="waves-effect"><a href="transactionsAdmin.html">3</a></li>
                            <li class="waves-effect"><a href="transactionsAdmin.html">4</a></li>
                            <li class="waves-effect"><a href="transactionsAdmin.html">5</a></li>
                            <li class="waves-effect">
                                <ahref="transactionsAdmin.html"><i class="material-icons">chevron_right</i></a>
                            </li>
                        </ul>
                        <div class="row">
                            <div class="nav-wrapper">
                                <form>
                                    <div class="input-field">
                                        <input id="search" type="search" required>
                                        <label class="label-icon" for="search"><i
                                                class="material-icons">search</i></label>
                                        <i class="material-icons">close</i>
                                    </div>
                                </form>
                            </div>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Nom</th>
                                        <th>Prénom</th>
                                        <th>Marchand</th>
                                        <th>Prix</th>
                                        <th>Carte de crédit</th>
                                        <th>Date</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td>Lamotte</td>
                                        <td>Pierrette</td>
                                        <td>StubHub</td>
                                        <td>$71.87</td>
                                        <td>5446</td>
                                        <td>2019-02-07</td>
                                    </tr>
                                    <tr>
                                        <td>Escobar</td>
                                        <td>Pablo</td>
                                        <td>StubHub</td>
                                        <td>$71.87</td>
                                        <td>5436</td>
                                        <td>2019-02-07</td>
                                    </tr>
                                    <tr>
                                        <td>César</td>
                                        <td>Jules</td>
                                        <td>Tim hortons</td>
                                        <td>$1.87</td>
                                        <td>5426</td>
                                        <td>2019-02-07</td>
                                    </tr>
                                    <tr>
                                        <td>DiePie</td>
                                        <td>Pew</td>
                                        <td>Tim hortons</td>
                                        <td>$1.87</td>
                                        <td>5465</td>
                                        <td>2019-02-07</td>
                                    </tr>
                                    <tr>
                                        <td>Bloom</td>
                                        <td>Orlando</td>
                                        <td>Evenko</td>
                                        <td>$1.87</td>
                                        <td>5465</td>
                                        <td>2019-02-07</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

        </div>
    </main>

    <footer class="indigo page-footer">
        <div class="container col s6">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Basée sur la page de</h5>
                    <span> <a style='font-weight: bold;' href="https://github.com/piedcipher" target="_blank"> Tirth
                            Patel</a></span>
                </div>
            </div>
    </footer>
</body>

</html>