{% extends "base.html" %}

{% block content %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);

    Date.prototype.removeDays = function(days) {
    var date = new Date(this.valueOf());
    date.setDate(date.getDate() - days);
    return date;
    }

    function drawChart() {
       var transaction = {{ recentTransactions }};
       var date = new Date();

        var data = google.visualization.arrayToDataTable([
         ['Journée', 'Volume', { role: 'style' }],
         [date.removeDays(3).toLocaleDateString("en-CA"),transaction[3], 'red'],
         [date.removeDays(2).toLocaleDateString("en-CA"), transaction[2], 'blue'],
         [date.removeDays(1).toLocaleDateString("en-CA"), transaction[1], 'yellow'],
         [date.toLocaleDateString("en-CA"), transaction[0], 'green' ],
      ]);

        var view = new google.visualization.DataView(data);
        view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                       2]);

      var options = {
        title: "Volume des transactions 4 derniers jours",
        width: 500,
        height: 350,
        bar: {groupWidth: "60%"},
        legend: { position: "none" },
      };

        var chart = new google.visualization.ColumnChart(document.getElementById('curve_chart'));
        chart.draw(view, options);

        {% if type == 'admin' %}
        var transactionsByMerchant = {{ transactionsByMerchant | tojson }};
        var value = Object.values(transactionsByMerchant);
        var key = Object.keys(transactionsByMerchant);
        var data1 = new google.visualization.DataTable();
        data1.addColumn('string', 'Nom du marchand');
        data1.addColumn('number', 'Nombre de transactions');
        data1.addRows([
            [key[0], value[0]],
            [key[1],value[1]]
        ]);

        // Set chart options
        var options1 = {
            'title': 'Répartition des transactions par marchand',
            'width': 500,
            'height': 400
        };

        // Instantiate and draw our chart, passing in some options.
        var chart1 = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart1.draw(data1, options1);
        {% else %}
        var transactionByStatus = {{ transactionByStatus }};
        var data2 = new google.visualization.DataTable();
        data2.addColumn('string', 'Status');
        data2.addColumn('number', 'Nombre de transactions');
        data2.addRows([
            ["Pending", transactionByStatus[0]],
            ["Authorized", transactionByStatus[1]],
            ["Refused", transactionByStatus[2]],
            ["Verified", transactionByStatus[3]]
        ]);

        // Set chart options
        var options2 = {
            'title': 'Répartition des transactions par status',
            'width': 500,
            'height': 400
        };

        // Instantiate and draw our chart, passing in some options.
        var chart2 = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart2.draw(data2, options2);
        {% endif %}
    }








</script>

<main>

    <div class="row">
        <div class="col s12">
            <div style="padding: 35px;" align="center" class="card">
                <div class="row">
                    <div class="left card-title">
                        <b>Transactions</b>
                    </div>
                </div>
                    <table>
                        <thead>
                        <tr>
                            {%if type == 'admin' %}<th>Vendeur</th>{% endif %}
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>4 derniers chiffres</th>
                            <th>Montant</th>
                            <th>Description</th>
                            <th>Date</th>
                            <th>Statut</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for transaction in transactions %}
                        <tr>
                            {%if type == 'admin' %}<td>{{ merchants[transaction.merchant_id] }}</td>{% endif %}
                            <td>{{transaction.last_name}}</td>
                            <td>{{transaction.first_name}}</td>
                            <td>{{ last_4_digits(transaction.credit_card_number) }}</td>
                            <td>${{ "{:,.2f}".format(transaction.amount)}}</td>
                            <td>{{transaction.label}}</td>
                            <td>{{ transaction.created.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                            <td>{{ transaction.status }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <!-- end merchant -->
    <div class="row">
        <div class="col s6">
            <div style="padding: 20px" align="center" class="card">
                <div class="row">
                    <div class="left card-title">
                        <b>Volume des transactions</b>
                    </div>
                </div>
                <div id="curve_chart" style="width: 750px; height: 350px"></div>
            </div>
        </div>
        <div class="col s6">
            <div style="padding: 20px" align="center" class="card">
                <div class="row">
                    <div class="left card-title">
                        <b>Transactions par {%if type == 'admin' %} vendeurs {% else %} status {% endif %}</b>
                    </div>
                </div>
                <div id="chart_div"></div>
            </div>
        </div>
    </div>

</main>

{% endblock %}