{% extends "base.html" %}
{% block title %}Gestion des usager{% endblock %}
{% block content %}
<main>
    <div class="container">
        <table>
            <thead>
            <tr>
                <th>Nom</th>
                <th>Statut</th>
                <th>Modifier</th>
                <th>Supprimer</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td>Evenko</td>
                <td>Actif</td>
                <td><a class="waves-effect waves-light btn" href="merchantModify.html">Modifier</a></td>
                <td><a class="waves-effect waves-light btn red"
                       onclick="confirm('Voulez-vous vraiment Supprimer')">Supprimer</a></td>
            </tr>
            <tr>
                <td>StubHub</td>
                <td>Actif</td>
                <td><a class="waves-effect waves-light btn" href="merchantModify.html">Modifier</a></td>
                <td><a class="waves-effect waves-light btn red"
                       onclick="confirm('Voulez-vous vraiment Supprimer')">Supprimer</a></td>
            </tr>
            <tr>
                <td>Tim Hortons</td>
                <td>Actif</td>
                <td><a class="waves-effect waves-light btn" href="merchantModify.html">Modifier</a></td>
                <td><a class="waves-effect waves-light btn red"
                       onclick="confirm('Voulez-vous vraiment Supprimer')">Supprimer</a></td>
            </tr>
            <tr>
                <td>Facebook Marketplace</td>
                <td>Inactif</td>
                <td><a class="waves-effect waves-light btn" href="merchantModify.html">Modifier</a></td>
                <td><a class="waves-effect waves-light btn red"
                       onclick="confirm('Voulez-vous vraiment Supprimer')">Supprimer</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
{% endblock %}